body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #05344a;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.todo-container {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: #012121;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

h2 {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

#todo-form {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00bfff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #009ccc;
}

#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    padding: 10px;
    border-radius: 5px;
    background-color: #021d1d;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.todo-item.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.todo-item button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 10px;
}

.todo-item button:hover {
    color: #ff3c3c;
}

.todo-item i {
    margin-right: 15px;
    cursor: pointer;
}

.todo-item i:hover {
    color: #00bfff;
}
